#butEqu {
  background: #ff8d8d;
  font-size: 30px;
}

.basicFunctions {
    background: #93d44f;
}

.advancedFunctions {
    background: #89b6e2;
}

.numbers {
    background: #eab93d;
}

.clear {
    background: #ffffff;
}

#keyboard {
    font-size: 16px;
}

.error {
    color: #ffffff;
    background: #ff0000;
}
